<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(faqs.length>0) { %>
            <div class="grid">
                <% for (let faq of faqs) { %>
                    <article class="card product-item">
                        
                        <div class="card__content">
                            <h2 class="product__price">
                                <%= faq.question %>
                            </h2>
                            <p class="product__description">
                                <%= faq.answer %>
                            </p>
                        </div>
                        <div class="card__action">
                            <a href="/admin/edit-faq/<%= faq._id %>?edit=true" class="btn">Edit</a>
                            <form action="/admin/delete-faq" method="POST">
                                <input type="hidden" value="<%= faq._id %>" name="faqId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No FAQS Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>
