<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <input id="searchbar" onkeyup="search_feature()" type="text"
        name="search" placeholder="Search..">

        <% if(features.length>0) { %>
            <div class="grid">
                <% for (let feature of features) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">
                                <%= feature.mentorName %>
                            </h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= feature.mentorImage %>" 
                                alt="<%= feature.mentorName %>" />
                        </div>
                        <div class="card__content">
                            <h4 class="product__description">
                                <%= feature.title %>
                            </h4>
                            <p class="product__description">
                                <%- feature.content %>
                            </p>
                        </div>
                        <div class="card__action">
                            <a href="/admin/edit-feature/<%= feature._id %>?edit=true" class="btn">Edit</a>
                            <form action="/admin/delete-feature" method="POST">
                                <input type="hidden" value="<%= feature._id %>" name="featureId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No features Found!</h1>
        <% } %>
        <script>
            function search_feature() {
                let input = document.getElementById('searchbar').value
                input = input.toLowerCase();
                let x = document.getElementsByClassName('product-item');
                
                for (i = 0; i < x.length; i++) { 
                    if (!x[i].innerHTML.toLowerCase().includes(input)) {
                        x[i].style.display="none";
                    }
                    else {
                        x[i].style.display="product-item";                 
                    }
                }
            }
        </script>
    </main>
<%- include('../includes/end.ejs') %>
