<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Admin</a>
            </li>
            <!-- 
            <li class="main-header__item">
                <a class="<%= path === '/product-list' ? 'active' : '' %>" href="/product-list">Products</a>
            </li>
            -->
            <!-- 
            <li class="main-header__item">
                <a class="<%= path === '/add-mentor' ? 'active' : '' %>" href="/add-mentor">Add Mentor</a>
            </li>
            -->
            <li class="main-header__item">
                <a class="<%= path === '/mentors' ? 'active' : '' %>" href="/mentors">Mentors</a>
            </li> 
            <!-- 
            <li class="main-header__item">
                <a class="<%= path === '/add-user' ? 'active' : '' %>" href="/add-user">Add User</a>
            </li>
            -->
            <li class="main-header__item">
                <a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-faq' ? 'active' : '' %>" href="/add-faq">Add Faq</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/faqs' ? 'active' : '' %>" href="/faqs">FAQS</a>
            </li> 
            <!-- 
            <li class="main-header__item">
                <a class="<%= path === '/add-feature' ? 'active' : '' %>" href="/add-feature">Add Feature</a>
            </li> -->
            <li class="main-header__item">
                <a class="<%= path === '/features' ? 'active' : '' %>" href="/features">Features</a>
            </li> 
            <!-- 
            <li class="main-header__item">
                <a class="<%= path === '/add-blog' ? 'active' : '' %>" href="/add-blog">Add Blog</a>
            </li>
            -->
            <li class="main-header__item">
                <a class="<%= path === '/blogs' ? 'active' : '' %>" href="/blogs">Blogs</a>
            </li> 

            <li class="main-header__item">
                <a class="<%= path === '/applications' ? 'active' : '' %>" href="/applications">Applications</a>
            </li> 
            <li class="main-header__item">
                <a class="<%= path === '/contacts' ? 'active' : '' %>" href="/contacts">Queries</a>
            </li> 
            <li class="main-header__item">
                <a class="<%= path === '/add-chart' ? 'active' : '' %>" href="/add-chart">Add Chart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/charts' ? 'active' : '' %>" href="/charts">Charts</a>
            </li> 
        </ul>
    </nav>
</header>

<!--
<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
</nav>
-->