<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/charts.css">
  <script src="https://kit.fontawesome.com/b7c0e417e7.js" crossorigin="anonymous"></script>
  <title>Charts</title>
</head>

<header>
  <%- include('partials/_navbar') %>
    <div class="lineview">
      <div class="tradingview-widget-copyright"></div>
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async>
          {
            "symbols" = [
              {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
              },
              {
                "proName": "FOREXCOM:NSXUSD",
                "title": "US 100"
              },
              {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
              },
              {
                "proName": "BITSTAMP:BTCUSD",
                "title": "Bitcoin"
              },
              {
                "proName": "BITSTAMP:ETHUSD",
                "title": "Ethereum"
              },
              {
                "description": "in",
                "proName": "SGX:IN1!"
              },
              {
                "description": "reliance",
                "proName": "NSE:RELIANCE"
              },
              {
                "description": "USD/Rupee",
                "proName": "FX_IDC:USDINR"
              },
              {
                "description": "oil",
                "proName": "MCX:CRUDEOIL1!"
              },
              {
                "description": "HDFC",
                "proName": "NSE:HDFCBANK"
              },
              {
                "description": "ICICI",
                "proName": "NSE:ICICIBANK"
              },
              {
                "description": "ITC",
                "proName": "NSE:ITC"
              },
              {
                "description": "KOTAK",
                "proName": "NSE:KOTAKBANK"
              },
              {
                "description": "APOLLO",
                "proName": "NSE:APOLLOHOSP"
              },
              {
                "description": "SBI",
                "proName": "NSE:SBIN"
              },
              {
                "description": "TATA",
                "proName": "NSE:TATAMOTORS"
              },
              {
                "description": "RBI",
                "proName": "ECONOMICS:ININTR"
              }
            ],
              "showSymbolLogo" = true,
              "colorTheme" = "dark",
              "isTransparent" = false,
              "displayMode" = "adaptive",
              "locale" = "in"
          }
        </script>
    </div>
</header>

<body class="charts-body">
  <h2 class="charts-heading">Charts</h2>
  <div class="charts-container">
    <div class="charts-column">
      <div class="charts-card charts-card1">
        <div class="charts-sub-head" id="charts-sub">Companies</div>
        <div class="charts-info-1">
          <div class="charts-info-name">Name</div>
          <div class="charts-info1">LTP</div>
          <div class="charts-info2">Change</div>
          <div class="charts-info3">%Change</div>
        </div>
        <% for (let index=0; index < companyStock.length; index++) { %>
          <div class="charts-info">
            <div class="charts-info-name">
              <%= companyStock[index].chart_name %>
            </div>
            <div class="charts-info1">
              <%= companyStock[index].chart_ltp %>
            </div>
            <div class="charts-info2">
              <%= companyStock[index].chart_change %>
            </div>
            <div class="charts-info3">
              <%= companyStock[index].chart_percentage %>
            </div>
          </div>
        <%} %>
      </div>
    </div>

    <div class="charts-column">
      <div class="charts-card charts-card2">
        <div class="charts-sub-head" id="charts-sub">Commodities</div>
        <div class="charts-info-1">
          <div class="charts-info-name">Name</div>
          <div class="charts-info1">LTP</div>
          <div class="charts-info2">Change</div>
          <div class="charts-info3">%Change</div>
        </div>
        <% for (let index=0; index < commodityStock.length; index++) { %>
          <div class="charts-info">
            <div class="charts-info-name">
              <%= commodityStock[index].chart_name %>
            </div>
            <div class="charts-info1">
              <%= commodityStock[index].chart_ltp %>
            </div>
            <div class="charts-info2">
              <%= commodityStock[index].chart_change %>
            </div>
            <div class="charts-info3">
              <%= commodityStock[index].chart_percentage %>
            </div>
          </div>
        <%} %>
      </div>
    </div>

    <div class="charts-column">
      <div class="charts-card charts-card3">
        <div class="charts-sub-head" id="charts-sub">Forex</div>
        <div class="charts-info-1">
          <div class="charts-info-name">Name</div>
          <div class="charts-info1">LTP</div>
          <div class="charts-info2">Change</div>
          <div class="charts-info3">%Change</div>
        </div>
        <% for (let index=0; index < forexStock.length; index++) { %>
          <div class="charts-info">
            <div class="charts-info-name">
              <%= forexStock[index].chart_name %>
            </div>
            <div class="charts-info1">
              <%= forexStock[index].chart_ltp %>
            </div>
            <div class="charts-info2">
              <%= forexStock[index].chart_change %>
            </div>
            <div class="charts-info3">
              <%= forexStock[index].chart_percentage %>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <div class="charts-column">
      <div class="charts-card charts-card4">
        <div class="charts-sub-head" id="charts-sub">Crypto</div>
        <div class="charts-info-1">
          <div class="charts-info-name">Name</div>
          <div class="charts-info1">LTP</div>
          <div class="charts-info2">Change</div>
          <div class="charts-info3">%Change</div>
        </div>
        <% for (let index=0; index < cryptoStock.length; index++) { %>
          <div class="charts-info">
            <div class="charts-info-name">
              <%= cryptoStock[index].chart_name %>
            </div>
            <div class="charts-info1">
              <%= cryptoStock[index].chart_ltp %>
            </div>
            <div class="charts-info2">
              <%= cryptoStock[index].chart_change %>
            </div>
            <div class="charts-info3">
              <%= cryptoStock[index].chart_percentage %>
            </div>
          </div>
        <%} %>
            <div></div>
      </div>
    </div>
  </div>

</body>

<footer>
  <div class="chartview" style="margin-top: 40px;">
    <div class="tradingview-widget-copyright"> <span class="blue-text"></span></div>
    <div id="chart-container"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 1000,
          "height": 610,
          "symbol": "GOOG",
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "dark",
          "style": "3",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "chart-container"
        }
      );
    </script>
  </div>
  <%- include('partials/_footer') %>
</footer>

</html>